
@{
    ViewBag.Title = "Activities";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="hero hero-3" style="background-image: url('../../images/background1.jpg');">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 text-center mx-auto">
                <div class="intro">

                    <h1 class="heading mb-2" data-aos="fade-up" data-aos-delay="0">Activities</h1>
                    <p class="text-white" data-aos="fade-up" data-aos-delay="100">Let kids pick activities they are interested in!</p>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="post-entries section">
    <div class="container"
        <div class="row mb-5">
            <div class="col-lg-6 mx-auto" data-aos="fade-up" data-aos-delay="0">
                <div class="line mx-auto mb-3"></div>
                <h2 class="heading mb-5 text-center">Popular Activities & Games</h2>
            </div>
        </div>

        <div class="row align-items-stretch">
            <div class="col-12 col-sm-6 col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="100">
                <div class="media-entry h-100">
                    <a href="@Url.Action("Dodgeball", "Home")" style="background-image: url('../../images/dodgeball.jpg')" src='@Url.Content("~/images/gal_1.jpg")' />


                    <div class="bg-white m-body">
                        <p class="text-dark text-center">Dodgeball</p>

                        <a href="@Url.Action("Dodgeball", "Home")" class="more d-flex block-testimonial align-items-center float-end">
                            <span class="label">Let's play</span>
                            <span class="arrow"><span class="icon-keyboard_arrow_right"></span></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="300">
                <div class="media-entry h-100">
                    <a href="@Url.Action("FourSquare", "Home")" style="background-image: url('../../images/FourSquare.jpg')" src='@Url.Content("~/images/gal_1.jpg")' />

                    <div class="bg-white m-body">

                        <p class="text-dark text-center">Four Square</p>

                        <a href="@Url.Action("FourSquare", "Home")" class="more d-flex block-testimonial align-items-center float-end">
                            <span class="label">Let's play</span>
                            <span class="arrow"><span class="icon-keyboard_arrow_right"></span></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="300">
                <div class="media-entry h-100">
                    <a href="@Url.Action("HideNSeek", "Home")" style="background-image: url('../../images/hidenseek.jpg')" src='@Url.Content("~/images/gal_1.jpg")' />

                    <div class="bg-white m-body">

                        <p class="text-dark text-center">Hide 'N Seek</p>

                        <a href="@Url.Action("HideNSeek", "Home")" class="more d-flex block-testimonial align-items-center float-end">
                            <span class="label">Let's play</span>
                            <span class="arrow"><span class="icon-keyboard_arrow_right"></span></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="200">
                <div class="media-entry h-100">
                    <a href="@Url.Action("Hopscotch", "Home")" style="background-image: url('../../images/hopscotch.jpg')" src='@Url.Content("~/images/gal_1.jpg")' />
                    <div class="bg-white m-body">
                        @*<span class="date">May 14, 2020</span>*@
                        <p class="text-dark text-center ">Hopscotch</p>


                        <a href="@Url.Action("Hopscotch", "Home")" class="more d-flex block-testimonial align-items-center float-end">
                            <span class="label">Let's play</span>
                            <span class="arrow"><span class="icon-keyboard_arrow_right"></span></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="300">
                <div class="media-entry h-100">
                    <a href="@Url.Action("Kickball", "Home")" style="background-image: url('../../images/Kickball.jpg')" src='@Url.Content("~/images/gal_1.jpg")' />

                    <div class="bg-white m-body">

                        <p class="text-dark text-center">Kickball</p>

                        <a href="@Url.Action("Kickball", "Home")" class="more d-flex block-testimonial align-items-center float-end">
                            <span class="label">Let's play</span>
                            <span class="arrow"><span class="icon-keyboard_arrow_right"></span></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="300">
                <div class="media-entry h-100">
                    <a href="@Url.Action("Jumprope", "Home")" style="background-image: url('../../images/jumprope.jpg')" src='@Url.Content("~/images/gal_1.jpg")' />

                    <div class="bg-white m-body">

                        <p class="text-dark text-center">Skipping rope</p>

                        <a href="@Url.Action("Jumprope", "Home")" class="more d-flex block-testimonial align-items-center float-end">
                            <span class="label">Let's play</span>
                            <span class="arrow"><span class="icon-keyboard_arrow_right"></span></span>
                        </a>
                    </div>
                </div>
            </div>

            <a href="@Url.Action("MoreActivities", "Home")" class="d-flex float-end block-testimonial">
                <span class="label">More activities</span>
                <span class="arrow"><span class="icon-keyboard_arrow_right"></span></span>
            </a>
        </div>

    </div>
</div>



