@{
    ViewBag.Title = "Home Page";
}




<div class="hero hero-2" style="background-image: url('../../images/background1.jpg'); ">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="intro">
                    <span class="subheading d-block" data-aos="fade-up" data-aos-delay="0">Welcome</span>

                    <h1 class="heading" data-aos="fade-up" data-aos-delay="100">We deliver novel approaches to encouraging, monitoring, and treating childhood obesity.</h1>
                </div>


                <div class="testionial-hero d-flex" data-aos="fade-up" data-aos-delay="200">
                    <div class="quote">&ldquo;</div>
                    <div class="">
                        <blockquote>
                            <p>Childhood obesity isn't some simple, discrete issue. It's an issue that touches on every aspect of how we live and how we work.</p>
                        </blockquote>

                        <div class="author d-flex align-items-center">
                            <div class="img">
                                <img src="../../images/CycoPathsLogoHD.png" alt="Image" class="img-fluid">
                            </div>
                            <div class="text">
                                <strong>The Cyco Paths</strong>
                                @*<span class="d-block text-white-50">Monash University</span>*@
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>



<div class="section section-1 pb-0">
    <div class="container">
        <div class="row">

            <div class="slideshow-container">

                <!-- Full-width slides/quotes -->
                <div class="mySlides">
                    <q>I love you the more in that I believe you had liked me for my own sake and for nothing else</q>
                    <p class="author">- John Keats</p>
                </div>

                <div class="mySlides">
                    <q>But man is not made for defeat. A man can be destroyed but not defeated.</q>
                    <p class="author">- Ernest Hemingway</p>
                </div>

                <div class="mySlides">
                    <q>I have not failed. I've just found 10,000 ways that won't work.</q>
                    <p class="author">- Thomas A. Edison</p>
                </div>

                <!-- Next/prev buttons -->
                <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                <a class="next" onclick="plusSlides(1)">&#10095;</a>
            </div>

            <!-- Dots/bullets/indicators -->
            <div class="dot-container">
                <span class="dot" onclick="currentSlide(1)"></span>
                <span class="dot" onclick="currentSlide(2)"></span>
                <span class="dot" onclick="currentSlide(3)"></span>
            </div>
            @*<div class="col-lg-6" data-aos="fade-up" data-aos-delay="0">
            <h2 class="heading mb-5">Obesity is the most common cause of heart conditions.</h2>
            <div class="row g-5">
                <div class="col-lg-6">
                    <div class="d-flex block-testimonial">
                        <div class="me-xxl-5">
                            <img src="../../images/wang.jpg" alt="Image" class="img-fluid rounded-circle">
                        </div>
                        <div>
                            <p>
                                &ldquo;xxxxxxxxxxxxx
                                xxxxxxxxxxxxxxxxxxxx
                                xxxxxxxxxxxx
                                xxxxxxxxxxxx
                                xxxxxxxxxxxxxxxxxx
                                xxxxxxxxxxxxxxxxxx
                                xxxxxxxxxxxxxxxxxxxxxxx
                                xxxxxxxxxxxx
                                xxxxxxxxxxxxx&rdquo;
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mb-5 mb-lg-0
                    ">
                    <p>xxxxxxxxxxxxxxx</p>
                    <p>xxxxxxxxxxxx</p>

                    <p>xxxxxxxxxxxxxx</p>
                </div>
            </div>
        </div>
        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <div class="img-wrap">
                <img src="../../images/health.jpg" alt="Image" class="img-fluid" style="width:400px; height:400px;">
            </div>
            <div class="text">
                <div class="text-inner">
                    <h3></h3>
                    <div class="row g-5">

                        <p>xxxxxxxxxxxxx</p>
                    </div>
                </div>
            </div>
        </div>*@
        </div>
    </div>
</div>



<!--<div class="section section-2">
    <div class="container">
        <div class="row mb-5">
            <div class="col-lg-6 mx-auto" data-aos="fade-up" data-aos-delay="0">
                <div class="line mx-auto mb-3"></div>
                <h2 class="heading mb-5 text-center">What do we provide?</h2>
            </div>
        </div>
        <div class="row g-5">
            <div class="col-6 col-sm-6 col-md-6 col-lg-3 text-center" data-aos="fade-up" data-aos-delay="100">
                <div class="feature">

                    <h3>What to do</h3>
                    <p>Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                </div>
            </div>
            <div class="col-6 col-sm-6 col-md-6 col-lg-3 text-center" data-aos="fade-up" data-aos-delay="200">
                <div class="feature">

                    <h3>Reduce costs to a minimum</h3>
                    <p>Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                </div>
            </div>
            <div class="col-6 col-sm-6 col-md-6 col-lg-3 text-center" data-aos="fade-up" data-aos-delay="300">
                <div class="feature">

                    <h3>Reduce costs to a minimum</h3>
                    <p>Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                </div>
            </div>
            <div class="col-6 col-sm-6 col-md-6 col-lg-3 text-center" data-aos="fade-up" data-aos-delay="400">
                <div class="feature">-->
@*<span class="flaticon-bathtub mb-4"></span>*@
<!--<h3>Reduce costs to a minimum</h3>
                    <p>Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                </div>
            </div>
        </div>
    </div>
</div>-->

<div class="post-entries section">
    <div class="container">
        <div class="row mb-5">
            <div class="col-lg-6 mx-auto" data-aos="fade-up" data-aos-delay="0">
                <div class="line mx-auto mb-3"></div>
                <h2 class="heading mb-5 text-center">What do we provide?</h2>
            </div>
        </div>

        <div class="row align-items-stretch">
            <div class="col-12 col-sm-6 col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="100">
                <div class="media-entry h-100">
                    <a href="@Url.Action("BMI", "Home")"style="background-image: url('../../images/BMI_Cal.jpg')" src='@Url.Content("~/images/BMI_Cal.jpg")' />

                    
                    <div class="bg-white m-body">
                        <p class="text-black-50 text-center">BMI</p>

                        <a href="@Url.Action("BMI", "Home")" class="more d-flex align-items-center float-end">
                            <span class="label">Get started</span>
                            <span class="arrow"><span class="icon-keyboard_arrow_right"></span></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="200">
                <div class="media-entry h-100">
                    <a href="@Url.Action("BMI", "Home")" style="background-image: url('../../images/BMI_Cal.jpg')" src='@Url.Content("~/images/BMI_Cal.jpg")' />
                    <div class="bg-white m-body">
                        @*<span class="date">May 14, 2020</span>*@
                        <p class="text-black-50 text-center">BMI</p>
                     

                        <a href="@Url.Action("BMI", "Home")" class="more d-flex align-items-center float-end">
                            <span class="label">Get started</span>
                            <span class="arrow"><span class="icon-keyboard_arrow_right"></span></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="300">
                <div class="media-entry h-100">
                    <a href="@Url.Action("BMI", "Home")" style="background-image: url('../../images/BMI_Cal.jpg')" src='@Url.Content("~/images/BMI_Cal.jpg")' />

                    <div class="bg-white m-body">

                        <p class="text-black-50 text-center">BMI</p>

                        <a href="#" class="more d-flex align-items-center float-end">
                            <span class="label">Get started</span>
                            <span class="arrow"><span class="icon-keyboard_arrow_right"></span></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="400">
                <div class="media-entry h-100">
                    <a href="@Url.Action("BMI", "Home")" style="background-image: url('../../images/BMI_Cal.jpg')" src='@Url.Content("~/images/BMI_Cal.jpg")' />

                    <div class="bg-white m-body">


                        <p class="text-black-50 text-center">BMI</p>
                        <a href="@Url.Action("BMI", "Home")" class="more d-flex align-items-center float-end">
                            <span class="label">Get started</span>
                            <span class="arrow"><span class="icon-keyboard_arrow_right"></span></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="0">
                <div class="testionial-hero dark d-flex mb-5 mb-lg-0">
                    <div class="quote">&ldquo;</div>
                    <div class="">
                        <blockquote>
                            <p>xxxxxxx</p>
                        </blockquote>

                        <div class="author d-flex align-items-center">
                            <div class="img">
                                <img src="../../images/chen.jpg" alt="Image" class="img-fluid">
                            </div>
                            <div class="text">
                                <strong>Hongyu Chen </strong>
                                <span class="d-block text-black-50">Monash University</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="100">
                <div class="testionial-hero dark d-flex mb-5 mb-lg-0">
                    <div class="quote">&ldquo;</div>
                    <div class="">
                        <blockquote>
                            <p>xxxxxxxxxxxxxxxxx</p>
                        </blockquote>

                        <div class="author d-flex align-items-center">
                            <div class="img">
                                <img src="../../images/yu.jpg" alt="Image" class="img-fluid">
                            </div>
                            <div class="text">
                                <strong>Wei Yu</strong>
                                <span class="d-block text-black-50">Monash University</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="200">
                <div class="testionial-hero dark d-flex mb-5 mb-lg-0">
                    <div class="quote">&ldquo;</div>
                    <div class="">
                        <blockquote>
                            <p>xxxxxx</p>
                        </blockquote>

                        <div class="author d-flex align-items-center">
                            <div class="img">
                                <img src="../../images/wang.jpg" alt="Image" class="img-fluid">
                            </div>
                            <div class="text">
                                <strong>Qingyuan Wang</strong>
                                <span class="d-block text-black-50 ">Monash University</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="200">
                <div class="testionial-hero dark d-flex mb-5 mb-lg-0">
                    <div class="quote">&ldquo;</div>
                    <div class="">
                        <blockquote>
                            <p>xxxxxxxxx</p>
                        </blockquote>

                        <div class="author d-flex align-items-center">
                            <div class="img">
                                <img src="../../images/zhao.jpg" alt="Image" class="img-fluid">
                            </div>
                            <div class="text">
                                <strong>Zhongjing Zhao</strong>
                                <span class="d-block text-black-50">Monash University</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<div class="py-5 bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 text-center mb-3 mb-lg-0 text-lg-start">
                <h3 class="text-white m-0">Get started with our products</h3>
            </div>
            <div class="col-lg-5 text-center text-lg-end">
                <a href="#" class="btn btn-outline-white">Get started</a>
            </div>
        </div>
    </div>
</div>

<style>
    * {
        box-sizing: border-box
    }

    body {
        font-family: Verdana, sans-serif;
        margin: 0
    }

    /* Slideshow container */
    .slideshow-container {
        position: relative;
        background: #f1f1f1f1;
    }

    /* Slides */
    .mySlides {
        display: none;
        padding: 80px;
        text-align: center;
    }

    /* Next & previous buttons */
    .prev, .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        margin-top: -30px;
        padding: 16px;
        color: #888;
        font-weight: bold;
        font-size: 20px;
        border-radius: 0 3px 3px 0;
        user-select: none;
    }

    /* Position the "next button" to the right */
    .next {
        position: absolute;
        right: 0;
        border-radius: 3px 0 0 3px;
    }

        /* On hover, add a black background color with a little bit see-through */
        .prev:hover, .next:hover {
            background-color: rgba(0,0,0,0.8);
            color: white;
        }

    /* The dot/bullet/indicator container */
    .dot-container {
        text-align: center;
        padding: 20px;
        background: #ddd;
    }

    /* The dots/bullets/indicators */
    .dot {
        cursor: pointer;
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
    }

        /* Add a background color to the active dot/circle */
        .active, .dot:hover {
            background-color: #717171;
        }

    /* Add an italic font style to all quotes */
    q {
        font-style: italic;
    }

    /* Add a blue color to the author */
    .author {
        color: cornflowerblue;
    }
</style>

<script>
    var slideIndex = 1;
    showSlides(slideIndex);

    function plusSlides(n) {
        showSlides(slideIndex += n);
    }

    function currentSlide(n) {
        showSlides(slideIndex = n);
    }

    function showSlides(n) {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("dot");
        if (n > slides.length) { slideIndex = 1 }
        if (n < 1) { slideIndex = slides.length }
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex - 1].style.display = "block";
        dots[slideIndex - 1].className += " active";
    }
</script>