@{
    ViewBag.Title = "Home Page";
}




<div class="hero hero-2" style="background-image: url('../../images/background1.jpg'); ">
    <div class="container">
        <div id="topsection" class="row align-items-center">
            <div class="col-lg-6">
                <div class="intro">
                    <span class="subheading d-block" data-aos="fade-up" data-aos-delay="0">Welcome</span>

                    <h1 class="heading" data-aos="fade-up" data-aos-delay="100">We deliver novel approaches to encouraging, monitoring, and treating childhood obesity.</h1>
                </div>


                <div class="testionial-hero d-flex" data-aos="fade-up" data-aos-delay="200">
                    <div class="quote">&ldquo;</div>
                    <div class="">
                        <blockquote>
                            <p>Childhood obesity isn't some simple, discrete issue. It's an issue that touches on every aspect of how we live and how we work.</p>
                        </blockquote>

                        <div class="me-5 d-flex align-items-center">
                            <div class="img">
                                <img src="../../images/CycoPathsLogoHD.png" alt="Image" class="img-fluid rounded-circle">
                            </div>

                            @*<span class="d-block text-white-50">Monash University</span>*@
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<svg class="arrows">
    <path class="a1" d="M0 0 L30 32 L60 0"></path>
    <path class="a2" d="M0 20 L30 52 L60 20"></path>
    <path class="a3" d="M0 40 L30 72 L60 40"></path>
</svg>


    <div id="slidesection" class="section section-1 pb-0">
        <div class="container">
            <div class="row">

                <div class="slideshow-container">

                    <!-- Full-width slides/quotes -->
                    <div class="mySlides fade1">
                        <div class="col-lg-12">
                            <div class="d-flex block-testimonial">
                                <div>
                                    <img src="~/images/obesekid.jpg" alt="Image" class="img-fluid rounded-circle" style="        width: 250px;
        height: 250px;
        margin-left: 30px" />
                                </div>
                                <div class="col-lg-6" style="padding-top:100px; padding-left:150px;">
                                    <p>
                                        In 2017–18, 1 in 4 (25%) Australian children and adolescents aged 2–17 was overweight or obese
                                    </p>
                                    <p class="author">-	Australian Institute of Health and Welfare</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mySlides fade1">
                        <div class="col-lg-12">
                            <div class="d-flex block-testimonial">
                                <div>
                                    <img src="~/images/flag.jpg" alt="Image" class="img-fluid rounded-circle" style="        width: 250px;
        height: 250px;
        margin-left: 30px" />
                                </div>
                                <div class="col-lg-6" style="padding-top:100px; padding-left:150px;">
                                    <p>
                                        Australia has the second highest rate of obese men among countries in the Organisation for Economic Co-operation and Development (OECD), placing them just behind the United States
                                    </p>
                                    <p class="author">-	Australian Institute of Health and Welfare</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mySlides fade1">
                        <div class="col-lg-12">
                            <div class="d-flex block-testimonial">
                                <div>
                                    <img src="~/images/bully.jpg" alt="Image" class="img-fluid rounded-circle" style="        width: 250px;
        height: 250px;
        margin-left: 30px" />
                                </div>
                                <div class="col-lg-6" style="padding-top:100px; padding-left:150px;">
                                    <p>
                                        Obese children have a higher risk of psychological and social problems, such as discrimination, victimisation, and bullying.

                                    </p>
                                    <p class="author">- Australian Institute of Health and Welfare</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mySlides fade1">
                        <div class="col-lg-12">
                            <div class="d-flex block-testimonial">
                                <div>
                                    <img src="~/images/medicine.jpg" alt="Image" class="img-fluid rounded-circle" style="        width: 250px;
        height: 250px;
        margin-left: 30px;" />
                                </div>
                                <div class="col-lg-6" style="padding-top:100px; padding-left:150px;">
                                    <p>
                                        Obese children have a greater risk of developing asthma, Type 2 diabetes, cardiovascular conditions, and certain cancers, than non-obese children.
                                    </p>
                                    <p class="author">-	Summerbell et al. 2005</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mySlides fade1">
                        <div class="col-lg-12">
                            <div class="d-flex block-testimonial">
                                <div>

                                    <img src="~/images/obeseadult.jpg" alt="Image" class="img-fluid rounded-circle" style="        width: 250px;
        height: 250px;
        margin-left: 30px;" />
                                </div>
                                <div class="col-lg-6" style="padding-top:100px; padding-left:150px;">
                                    <p>
                                        Overweight or obese children are more likely to remain obese as adolescents and become overweight or obese adults. About 80 per cent of obese adolescents will become obese adults.
                                    </p>
                                    <p class="author">-	Better Health Channel </p>
                                </div>
                            </div>
                        </div>
                    </div>


                    <!-- Next/prev buttons -->
                    <!--<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                    <a class="next" onclick="plusSlides(1)">&#10095;</a>-->
                </div>

                <!-- Dots/bullets/indicators -->
                @*<div class="dot-container">
                    <span class="dot" onclick="currentSlide(1)"></span>
                    <span class="dot" onclick="currentSlide(2)"></span>
                    <span class="dot" onclick="currentSlide(3)"></span>
                    <span class="dot" onclick="currentSlide(4)"></span>
                    <span class="dot" onclick="currentSlide(5)"></span>

                </div>*@

            </div>
        </div>
    </div>




    <div id="productsection" class="post-entries section">
        <div class="container">
            <div class="row mb-5">
                <div class="col-lg-6 mx-auto" data-aos="fade-up" data-aos-delay="0">
                    <div class="line mx-auto mb-3"></div>
                    <h2 class="heading mb-5 text-center">What do we provide?</h2>
                </div>
            </div>

            <div class="row align-items-stretch">
                <div class="col-12 col-sm-6 col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="100">
                    <div class="media-entry h-100">
                        <a href="@Url.Action("BMI", "Home")" style="background-image: url('../../images/BMI_Cal.jpg');" src='@Url.Content("~/images/BMI_Cal.jpg")' />


                        <div class="bg-white m-body">
                            <p class="text-dark text-center">BMI</p>

                            <a href="@Url.Action("BMI", "Home")" class="more d-flex align-items-center float-lg-start">
                                <span class="label" style="padding-left:80px">Get started</span>
                                <span class="arrow"><span class="icon-keyboard_arrow_right"></span></span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="100">
                    <div class="media-entry h-100">
                        <a href="@Url.Action("Activities", "Home")" style="background-image: url('../../images/activity_icon.png');width:200px;height:200px;" src='@Url.Content("~/images/activity_icon.png")' />
                        <div class="bg-white m-body">
                            <p class="text-dark" style="margin-left:50px;">Activities</p>


                            <a href="@Url.Action("Activities", "Home")" class="more d-flex align-items-center float-lg-start">
                                <span class="label" style="padding-left:40px">Get started</span>
                                <span class="arrow"><span class="icon-keyboard_arrow_right"></span></span>
                            </a>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>










    <div id="botsection" class="py-5 bg-dark">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 text-center mb-3 mb-lg-0 text-lg-start">
                    <h3 class="text-white m-0 block-testimonial">Get started with our products.</h3>
                </div>
                <div class="col-lg-5 text-center text-lg-end">
                    <a href="#" class="btn btn-outline-white ">Get started</a>
                </div>
            </div>
        </div>
    </div>

    <script>
        var myIndex = 0;
        carousel();

        function carousel() {
            var i;
            var x = document.getElementsByClassName("mySlides");
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            myIndex++;
            if (myIndex > x.length) { myIndex = 1 }
            x[myIndex - 1].style.display = "block";

            setTimeout(carousel, 4000); // Change image every 4 seconds
        }
    </script>

    <script>
        var slideIndex = 1;
        showSlides(slideIndex);

        function plusSlides(n) {
            showSlides(slideIndex += n);
        }

        function currentSlide(n) {
            showSlides(slideIndex = n);
        }

        function showSlides(n) {
            var i;
            var slides = document.getElementsByClassName("mySlides");
            var dots = document.getElementsByClassName("dot");
            if (n > slides.length) { slideIndex = 1 }
            if (n < 1) { slideIndex = slides.length }
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" actives", "");
            }
            slides[slideIndex - 1].style.display = "block";
            dots[slideIndex - 1].className += " actives";
        }
    </script>
