<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Playfair+Display:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">

    <link href="~/fonts/flaticon.css" rel="stylesheet" />
    <link href="~/fonts/style.css" rel="stylesheet" />
    <link href="~/CSS/tiny-slider.css" rel="stylesheet" />
    <link href="~/CSS/aos.css" rel="stylesheet" />
    <link href="~/CSS/style.css" rel="stylesheet" />
    <script language="JavaScript">
        var password;
        var pass = "ob";

        if (!localStorage.getItem('psd')) {

            do {
                password = prompt('Welcome to ObsesityCare, you need a code to view the page!', '');
                if (password == pass) {
                    window.location = '#';
                    localStorage.setItem('psd', 'ob');
                } else {
                    password = prompt('Wrong password, please the correct password', '');
                }
            } while (password != pass);
        }
    </script>
    <title>ObesityCare &mdash; for 10-12 Children</title>
</head>
<body>

    <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
            <div class="site-mobile-menu-close">
                <span class="icofont-close js-menu-toggle"></span>
            </div>
        </div>
        <div class="site-mobile-menu-body"></div>
    </div>

    <nav class="site-nav">
        <div class="container">
            <div class="site-navigation">
                <div class="logo m-0 float-left">ObesityCare</div>
                <ul class="js-clone-nav d-none d-lg-inline-block text-start site-menu float-end">
                    <li class="active">@Html.ActionLink("Home", "Index", "Home")</li>

                    <li class="has-children">
                        <a href="#">Activities</a>
                        <ul class="dropdown">
                            <li><a href="#">Activitity 1</a></li>
                            <li class="has-children">
                                <a href="#">Activitity 2</a>
                                <ul class="dropdown">
                                    <li><a href="#">One</a></li>
                                    <li><a href="#">Two</a></li>
                                    <li><a href="#">Three</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Activity 3</a></li>
                        </ul>
                    </li>
                    <li>@Html.ActionLink("About Us", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact Us", "Contact", "Home")</li>
                    <li>@Html.ActionLink("BMI", "BMI", "Home")</li>
                    <li>@Html.ActionLink("Activities", "Activities", "Home")</li>
                    @*<li>@Html.Partial("_LoginPartial")</li>*@
                </ul>

                <a href="#" class="burger ms-auto float-end site-menu-toggle js-menu-toggle d-inline-block d-lg-none light" data-toggle="collapse" data-target="#main-navbar">
                    <span></span>
                </a>

            </div>
        </div>
    </nav>



    @RenderBody()



    <div class="site-footer">
        <div class="container">

            <div class="row">
                <div class="col-lg-3">
                    <div class="widget">
                        <h3>About Foundation<span class="text-primary">.</span> </h3>
                        <p>We acknowledge and pay respects to the Elders and Traditional Owners of the land.</p>
                    </div> <!-- /.widget -->
                    <div class="widget">
                        <h3>Connect</h3>
                        <ul class="list-unstyled social">
                            <li><a href="#"><span class="icon-instagram"></span></a></li>
                            <li><a href="#"><span class="icon-twitter"></span></a></li>
                            <li><a href="#"><span class="icon-facebook"></span></a></li>
                            <li><a href="#"><span class="icon-linkedin"></span></a></li>
                            <li><a href="#"><span class="icon-pinterest"></span></a></li>
                            <li><a href="#"><span class="icon-dribbble"></span></a></li>
                        </ul>
                    </div> <!-- /.widget -->
                </div> <!-- /.col-lg-3 -->

                <div class="col-lg-3 ms-auto">
                    <div class="widget">
                        <h3>Links</h3>
                        <ul class="list-unstyled float-left links">
                            <li><a href="#">About us</a></li>
                            <li><a href="#">Products</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div> <!-- /.widget -->
                </div> <!-- /.col-lg-3 -->


                <div class="col-lg-3">
                    <div class="widget">
                        <h3>Contact</h3>
                        <address>Monash University, Wellington Road, Clayton, VIC, 3800, AU</address>
                        <ul class="list-unstyled links mb-4">
                            <li><a href="tel://11234567890">+61 3 9902 6000</a></li>
                            <li><a href="mailto:info@thecycopath.com">info@thecycopaths.com</a></li>
                        </ul>
                    </div> <!-- /.widget -->
                </div> <!-- /.col-lg-3 -->

            </div> <!-- /.row -->

            <div class="row mt-5">
                <div class="col-12 text-center">
                    <p>

                        Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script> All rights reserved | The Cyco Paths <i class="icon-heart text-danger" aria-hidden="true"></i>

                    </p>

                </div>
            </div>
        </div> <!-- /.container -->
    </div> <!-- /.site-footer -->



    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/tiny-slider.js"></script>
    <script src="~/js/aos.js"></script>
    <script src="~/js/navbar.js"></script>
    <script src="~/js/counter.js"></script>
    <script src="~/js/custom.js"></script>
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)


</body>





</html>